@import url(./reset.css);
@import url(../fonts/Lato/stylesheet.css);

@font-face {
    font-family: "Georgia" ;
    src: url("../fonts/Georgia.ttf");
}


/* root */

:root {
    --heading-color : #01996D;
    --text-color: #424242;
    --green-zone-text: #fff;
}


/* BODY */

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 20px ;
}

/* BASE */

.container {

    width: 1370px;
    /* padding: auto 15px; */
    margin: 0 auto;

}

.header {
    /* background-color: red; */
}


/* NAVIGATION */

.navigation {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo_nav {
    display: flex;
    align-items: center;
}

.logo {

    margin: 31px 100px 31px 0;
}

.nav {
    display: flex;
}
.nav_link {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    color: var(--text-color);
    text-transform: capitalize;
    margin-left: 72px;
    
}
.account {
    display: flex;
    align-items: center;
}


.signin {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    color: var(--text-color);
    text-transform: capitalize;
    margin-right: 35px;
    
}
.btn {
    display: inline-block;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    color: #fff;
    text-transform: capitalize;
    background-color: var(--heading-color);
    border-radius: 4px;
    overflow: hidden;
}
/* btn */
.trial {
    padding: 13px 50px;
}


/* WELCOMINGS BLOCK */
.welcoming {

   
    background-image: url(../img/welcoming.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.welcoming_block {
    max-width: 440px ;
    padding: 175px 0px 336px;
}

h1 {
    
    font-family: "Georgia", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 65px;
    line-height: 1.12;
    color: var(--heading-color);
    
}
.welcoming_desc {
    
    margin: 30px 0px 50px;
    color: var(--text-color);
}
/* btn */
.welcome {
    padding: 13px 50px;

}






/* Main */

.main {
}



/* WORK ABOUT */

.work_about {
}


/* HOW IT WORKS */

.how_it_works {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 205px;
}

.work_heading {
    position: relative;
    font-family: "Georgia", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    line-height: 1.56;
    color: var(--heading-color);

}

.work_heading::before {
    position: absolute;
    content: "How it works";
    top: 0;
    left: 0;
    color: #000;

    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 1.54;
    color: var(--text-color);

    transform: translateY(-100%);

}


.work_desc {
    max-width: 670px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--text-color);
}



/* WORk INFO BLOCKS */

.work_info_blocks {
    display: flex;
}




.block_info {
    max-width: 390px;
    margin-top: 202px;
    margin-right: 95px;
    margin-bottom: 0;
}

.block_info:nth-child(2) {
    position: relative;
    top: 279px;
    /* transform: translateY(225px); */
    
}


.block_info:last-child{
    position: relative;
    top: 54px;
    margin-right: -5px;
}

.block_info_heading {
    position: relative;
    font-family: "Georgia", sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.5;
    text-transform: capitalize;

    padding-left: 88px;
    margin-bottom: 38px;
    
}

.block_info_heading::before {
    position: absolute;
    content: attr(data-number);
    top: -100%;
    left: 0;
    font-weight: normal;
    font-size: 150px;
    color: #01996D40;
    transform: translateY(-50%);

}

.block_info_desc {
    font-weight: 500;
    line-height: 1.5;
    color: var(--text-color);
    margin-bottom: 50px;
}

.block_info_img {

}